module.exports = {
  apps: [
    {
      name: "{{ app_name }}",
      cwd: "{{ app_dir }}",
      script: "app.js",
      instances: 1,
      exec_mode: "fork",
      env: {
        NODE_ENV: "production",
      },
      max_memory_restart: "300M",
    },
  ],
};

